body{
  width: 380px;
  margin: auto;
}

/*header area*/

header {
    width: 320px;
    height: 65px;
      display: flex;
      flex-wrap: wrap;
      background-color: #222b3b;
}

#logo {
    height: 50px;
    padding: 0px;
    margin: auto;
    margin-top: 10px;
  }


#logo a img{
  height: 40px;

}



/*menu */


#toggle
{
    height: 60px;
    padding: 20px 0;
    position: relative;
}

#toggle:hover
{
    cursor: pointer;
}
#toggle .menu-line
{
    width: 26px;
    height: 4px;
    background: #5B5B5B;
    left: 1px;
    position: absolute;
    transition: opacity 0.25s;
    top: 20px;
}

#toggle:before, #toggle:after
{
    content: '';
    height: 4px;
    width: 26px;
    background: #5B5B5B;
    left: 1px;
    position: absolute;
    transform-origin: 50% 50%;
      transition: transform 0.25s;
    top: 20px;
}

#toggle:before
{
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

#toggle.on:before
{
      transform: rotate3d(0, 0, 1, 45deg);
}

#toggle.on:after
{
    transform: rotate3d(0, 0, 1, -45deg);
}

#toggle:after
{
    transform: translate3d(0, 8px, 0);
}

.menu li{
    padding: 10px;
}
ul{
  padding: 0px;
}

.menu-left-part {
    display: none;
    margin-top: 40px;
    margin-left: 150px;
    z-index: 999;
    width: 20%;
    position: absolute;
    background-color: #323e44;
    color: #fff;
    text-align: center;
}

.show {
  display: block;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu a{
    color: #fff;
    text-decoration: none;
    text-align: left;
    padding-left: 50px;
}




/*main area */
a{
  text-decoration: none;
}

main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #222b3b;


}
.full{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;

}


.half{
    width: 50%;
    height: 200px;
    background-color: #fff;
    margin: auto;
    text-align: center;
}

.button {
      width: 60%;
      margin: auto;
      padding: 20px;
      border: 2px solid #000;
      margin-top: 20px;
      height: 130px;
      border-radius: 10px;
}
.next{
    border: 2px solid #000;
    width: 80%;
    margin: auto;
    border-radius: 10px;

}
.choose{
  background-color: green;
}
