


@media only screen and (min-width: 980px) {


/*header area*/
header {
    width: 100%;
    height: 120px;
      display: flex;
      flex-wrap: wrap;
      background-color: #222b3b;
}

#logo {
    height: 100px;
    padding: 0px;
    margin: auto;
    margin-top: 10px;
  }


#logo a img{
  height: 100px;

}



/*menu */
.toggle-holder {
    background-color: #222b3b;
    width: 80px;
    padding: 20px;
}

#toggle
{
    height: 60px;
    padding: 20px 0px 0px 0px;
    position: relative;
}

#toggle:hover
{
    cursor: pointer;
}
#toggle .menu-line
{
    width: 60px;
    height: 8px;
    background: #fff;
    left: 1px;
    position: absolute;
    transition: opacity 0.25s;
    top: 17px;
}

#toggle:before, #toggle:after
{
    content: '';
    height: 8px;
    width: 60px;
    background: #fff;
    left: 1px;
    position: absolute;
    transform-origin: 50% 50%;
      transition: transform 0.25s;
    top: 40px;
}

#toggle:before
{
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

#toggle.on:before
{
      transform: rotate3d(0, 0, 1, 45deg);
}

#toggle.on:after
{
    transform: rotate3d(0, 0, 1, -45deg);
}

#toggle:after
{
    transform: translate3d(0, 8px, 0);
}

.menu li{
    padding: 10px;
}
ul{
  padding: 0px;
}

.menu-left-part {
    display: none;
    margin-top: 120px;
    z-index: 999;
    width: 100%;
    position: fixed;
    background-color: #323e44;
    color: #fff;
    text-align: center;
}

.show {
  display: block;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu a{
    color: #fff;
    text-decoration: none;
    text-align: left;
    padding-left: 50px;
        font-size: 30px;
}


/*main area */
a{
  text-decoration: none;
}

main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding-top: 40px;
}

.full{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
    text-align: center;
    margin: auto;
    text-align: center;

}
.full h2{
  font-size: 55px;
  text-align: center;
  color: red;
}

.kasse-form{
  display: flex;
  flex-direction: column;
}
.kasse-form form{
  display: flex;
  flex-wrap: wrap;
}
.kasse-form label{
  width: 45%;
  font-size: 55px;
  text-align: center;
  color: red;
  padding: 30px;

}
.kasse-form input{
  padding: 30px 0px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 50px;
  margin: 10px;
}
.kasse-form h1{
  width: 100%;
  font-size: 55px;
  text-align: center;
  color: red;
}

.kasse-form input{
  width: 45%;
}



.button input {
    padding: 30px 0px;
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 50px;
}

.udenicon{
  min-height: 115px;
  padding-top: 90px
}

.udenicon h2{
  margin-top: 50px !important;

}

.udenicon h3{
  font-size: 35px;
  text-align: center;
  color: red;
}

.half{
    width: 50%;
    min-height: 250px;
    height: auto;
    background-color: #fff;
    margin: auto;
    text-align: center;
}

.info {

 text-align: center;
 width: 100%;

}
.info h1{
  font-size: 55px;
  text-align: center;
  color: red;
  width: 100%;
}

.button {
      width: 80%;
      margin: auto;
      padding: 20px;
      border: 2px solid #000;
      margin-top: 20px;
      border-radius: 10px;
}

.button img {
  width: 100px;
  margin-top: 25px;
}

.button h2 {
  margin-top: 0px;
  font-size: 40px;
}

.next{
    border: 2px solid #000;
    width: 80%;
    margin: auto;
    border-radius: 10px;

}
.choose{
  background-color: green;
}

.km {
  width: 80%;
}
.qrko{
  min-height: 115px;
  padding: 20% 34%;
}
.qr {
      width: 100%;
      margin: auto;
      padding: 20px;
      border: 2px solid #000;
      margin-top: 380px;
      border-radius: 10px;
}

.qr img {
  width: 200px;
}

.qr h2 {
  margin-top: 0px;
  font-size: 40px;
}
#lastbil{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

#lastbil div{
  width: 45%;
  margin: 20px;
}

.lastbil-button input{
    padding: 30px 0px;
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: red;
    padding: 30px;
}

}

@media only screen and (max-width: 979px) {

main{
  padding-top: 100px !important;
}

}
